.in{

  border-width: 0;
}
.color{
  color:purple;
  font-weight: bolder;
}
.remarkbox{
margin-top: 10%;
}
.buttonremark{
margin-top: 10%;
}
.Con{
padding:5px;
}
.content{
padding-left: 10px;
text-align: left;
color: grey;
}
.Con label{
margin-top: 5px;
font-size: 20px;

color: darkorchid;
font-weight: bolder;
}
.content span{color: darkorchid;

font-weight: bold;}
.title{color:darkorchid}
textarea{
margin: 10px;
background-color: grey;
border: 0;
border-radius: 15px;
max-width: 100%;
}
::placeholder{
color: antiquewhite;
}
.prevbtn{
background: #555777;
border-radius: 50%;
float: left;
}
.nxtbtn{
background: #555777;
border-radius: 50%;
float: right;
}

.arrow {
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.Buttons{
margin:15px;
margin-bottom: 5px;
position: relative;
}
.tab{
text-align: center;
color:darkorchid;
}
.Table{
margin-top:5px;

overflow-y: auto;
overflow-x: hidden;
width: 100%;
height: 393px;

}
.Con textarea{
  max-width: 100%;
}
.Buttoncell{
margin:5px;
}
.Rebtn{
margin-bottom:5px;
}
::-webkit-scrollbar {
width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
.switch {

position: relative;
display: inline-block;
width: 30px;
height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
width: 0;
height: 0;
}
.TB{

margin-left: 10px;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 11px;
width: 10px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: blueviolet;
}

input:focus + .slider {
box-shadow: 0 0 1px blueviolet;
}

input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}

/* Rounded sliders */
.slider.round1 {
border-radius: 34px;
}

.slider.round1:before {
border-radius: 50%;
}
