@media only screen and (max-width: 800px) {
	.container{
		text-align: center;
		margin: auto;
	}
	.containerz{
		padding: 10px;
	}
	.table-responsive{
		text-align: center;
		border: 0;
	}
	.tableTD{
		font-size: 10px;
	}
	.tableTH{
		font-size: 12px;
	}
}
.tableTR{
	color:white;
  padding-bottom: 0px;
}
.tableTH {
  color: #b007c4;
  border: 0 !important;
}
.tablehead{
  border: 0;
}
body {
  background-color: #1a1a1a !important;
}
.table-responsive {
  padding: 5px;
  border: 0;
}
.table {
  border: 0;
}
.container {
  text-align: center;
  border-radius: 30px;
  margin-top: 50px;
  background-color: #222222;
  opacity: 90%;
  color: white;
}
