.App {
  text-align: center;
<<<<<<< HEAD

=======
>>>>>>> 6aa6aeadcb508bd47a9a1502ce179a66507d0227
  color: white;
}

.mine {
  margin: 10px 30% 50px;
  padding: 20px;
  /*border-style: ridge;
  border-color: lightgreen;*/
}
