/* input[type="text"] {
  width: 80%;
  height: 30px;
  font-size: 28px;
  text-decoration-color: black;
  margin-top: 8px;
  border-radius: inherit;
} */
.modal-header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}
.modal-content {
  background-color: #222222;
  color: black;
}
.submit-button {
  color: #ffffff;
  background-color: #73007e;
  font-weight: 700;
  height: 50px;
  border: none;
  width: 25%;
  display: block;
  border-radius: 3px;
  text-transform: uppercase;
}
.btn-cancel {
  color: #ffffff;
  background-color: #0f7e00;
  font-weight: 700;
  height: 50px;
  border: none;
  width: 25%;
  display: block;
  border-radius: 3px;
  text-transform: uppercase;
}
.close-modal-btn {
  border-radius: 1px;
}
.form-input {
  background-color: #f5f5f5;
  border: none;
  height: 45px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  color: #101113;
  text-decoration-color: black;
}
.form-input::-webkit-input-placeholder {
  color: rgba(16, 17, 19, 0.3);
}
