input[type='text']{
    width:80%;
    height:30px;
    font-size:28px;
    text-decoration-color:black;
    margin-top:8px;
    border-radius: inherit;
  }
  .modal-header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }
  .modal-content {
    background-color:#222222;
    color:black;
  }
  