input{
    margin: 5px;
    border-width: 0;
}
.color{
    color:purple;
    font-weight: bolder;
}
.remarkbox{
  margin-top: 10%;
}
.buttonremark{
  margin-top: 10%;
}
.Con{
  padding:5px;
}
h3,h5{
  padding-left: 10px;
  text-align: left;
  color: grey;
}
label{
  margin-top: 5px;
  font-size: 20px;
  
  color: darkorchid;
  font-weight: bolder;
}
span{color: darkorchid;

font-weight: bold;}
h1{color:darkorchid}
textarea{
  margin: 10px;
  background-color: grey;
  border: 0;
  border-radius: 15px;
  max-width: 100%;
}
::placeholder{
  color: antiquewhite;
}
.prevbtn{
  background: #555777;
  border-radius: 50%;
  float: left;
}
.nxtbtn{ 
  background: #555777;
  border-radius: 50%;
  float: right;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.Buttons{
  margin:15px;
  margin-bottom: 5px;
  position: relative;
}
h4{
  text-align: center;
  color:darkorchid;
}
.Table{
  margin-top:5px;
  
  overflow-y: auto;
 overflow-x: hidden;
  width: 100%;
  height: 393px;
  
}
.Buttoncell{
  margin:5px;
}
.Rebtn{
  margin-bottom:5px;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}