.login-dropdown {
  /* styling */
  background-color: #22252c;
  border-radius: 10px !important;
  border: 0px;
  display: block;
  font: inherit;
  font-size: 20px;
  width: 250px;
  line-height: 1.5em;
  padding: 10px 70px 10px 25%;
  color: white;
  /* reset */
  border-radius: 20px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.justif {
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
}
.justiff {
  display: flex;
  flex-direction: "row";
}
.landingPageImage {
  max-width: 253px;
  width: auto;
  max-height: 253px;
  height: auto;
}

.rforms {
  max-width: 700px;
  width: 100%;
  max-height: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 30px;
}
.sforms {
  max-width: 1400px;
  width: 100%;
  max-height: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.rforms > form {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 20px;

  margin: auto;
}

.sforms > form {
  background-color: #1a1a1a;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  margin: auto;
}

.forms .form-control {
  background-color: #f5f5f5;
  border: none;
  height: 45px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  color: #101113;
}

.forms .form-control::-webkit-input-placeholder {
  color: rgba(16, 17, 19, 0.3);
}

.forms .form-control:-ms-input-placeholder {
  color: rgba(16, 17, 19, 0.3);
}

.forms .form-control::placeholder {
  color: rgba(16, 17, 19, 0.3);
}

.forms select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.forms select.form-control + .select-arrow {
  position: absolute;
  right: 0px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  pointer-events: none;
  color: #101113;
  font-size: 14px;
}

.forms select.form-control + .select-arrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.forms .form-label {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
  text-transform: uppercase;
}

.inputboxes {
  border: #707070;
  background-color: #22252c;
  color-adjust: economy;
  border-radius: 10px;
  width: 250px;
  font-style: heebo;
  padding: 10px 5px;
  /* margin: 0 auto 10px auto; */
  display: block;
  text-align: center;
  font-size: 18px;
  color: grey;
  font-weight: 300;
}
.inputboxess {
  border: #707070;
  background-color: #22252c;
  color-adjust: economy;
  border-radius: 10px;
  width: 400px;
  font-style: heebo;
  padding: 10px 5px;
  /* margin: 0 auto 10px auto; */
  display: block;
  text-align: center;
  font-size: 18px;
  color: grey;
  font-weight: 300;
}

.buttonpurple {
  border: black;
  background-color: #5e18d9;
  width: 200px;
  border-radius: 5px;
  font-style: heebo;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.selecti {
  /* styling */
  background-color: #22252c;
  border-radius: 4px;
  border: 0px;
  display: block;
  font: inherit;
  font-size: 20px;
  width: 250px;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  color: white;
  /* reset */
  border-radius: 20px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.round {
  background-image: linear-gradient(45deg, transparent 50%, #1a1a1a 50%),
    linear-gradient(135deg, #1a1a1a 50%, transparent 50%),
    radial-gradient(#cc00ff 70%, transparent 72%);
  background-position: calc(100% - 25px) calc(1em + 2px),
    calc(100% - 20px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: block;
}

.round:focus {
  background-image: linear-gradient(45deg, #1a1a1a 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #1a1a1a 50%),
    radial-gradient(#cc00ff 70%, transparent 72%);
  background-position: calc(100% - 20px) 1em, calc(100% - 25px) 1em,
    calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  outline: 0;
  border-radius: 20px;
}
