@media only screen and (max-width: 768px)  {
  .login-text{
    padding-bottom: 20px !important;
  }
  .mycontainer{
    padding: 0 !important;
  }
}

.login-row {
  color: #b007c4;
  text-align: left;
}

.forms > form {
  background-color: #1a1a1a;
  padding: 10% 20px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  margin: auto;
}
.mycontainer{
  padding: 0 3.5%;
}
