@media only screen and (max-width: 768px)  {
  .modal-text{
    padding-bottom: 20px !important;
  }
}

.modal-bg{
  background-color:#181A1B;
  color:#181A1B;
  padding: 60px !important;
  border-radius: 25px !important;
  border: 1px solid grey;
}

.forgotmodal-row {
  color: #b007c4;
}
